@charset "UTF-8";

/* base */
.flex{
  width: 65px;
  margin: 10px;
  padding: 10px;
  background: #00bbdd;
  color: #fff;
  text-align: center;
}
/* base end */

/* Q5 1*/
.flex-xn{
  display: flex;
}

.flex-xr{
  display: flex;
  flex-direction: row-reverse;
}

.flex-yn{
  display: flex;
  flex-direction: column;
}

.flex-yr{
  display: flex;
  flex-direction: column-reverse;
}
/* Q5 1 end */

/* Q5 2 */
.flex-nowrap{
  display: flex;
  flex-wrap: nowrap;
}

.flex-wrap{
  display: flex;
  flex-wrap: wrap;
}

.flex-wrap-reverse{
  display: flex;
  flex-wrap: wrap-reverse;
}
/* Q5 2 end */

/* Q5 3 */
.flex-start{
  display: flex;
  justify-content: flex-start;
}

.flex-end{
  display: flex;
  justify-content: flex-end;
}

.flex-center{
  display: flex;
  justify-content: center;
}

.flex-between{
  display: flex;
  justify-content: space-between;
}

.flex-around{
  display: flex;
  justify-content: space-around;
}
/* Q5 3 end */

/* Q5 4 */
.grid{
  padding: 10px;
  background: #00bbdd;
  color: #fff;
}

.grid-columns{
  display: grid;
  grid-template-columns: 200px 200px 200px;
  gap: 10px;
}

.grid-fr{
  display: grid;
  margin-top: 20px;
  grid-template-columns: auto auto auto;
  gap: 10px;
}
.grid-rows{
  display: grid;
  margin-top: 20px;
  grid-template-columns: auto auto auto;
  gap: 10px;
  grid-template-rows: 200px 200px;
}

.grid-wrapper{
  display: grid;
  margin-top: 20px;
  grid-template-columns: 100px 100px 100px;
  grid-template-rows: 100px 100px 100px;
  gap: 10px;
}

.red{
  grid-column: 1 / 3;
  background: #dd0700;
}

.green{
  grid-row: 2 / 4;
  background: #0bdd00;
}

.yellow{
  grid-column: 2 / 4;
  background: #d9dd00;
}